@import url(http://fonts.googleapis.com/css?family=Metrophobic);
html, body {
  width: 100%;
  height: 100%;
  background: #ecf0f1;
  color: #2c3e50;
  font-family: 'Metrophobic', sans-serif;
  font-size: 16px; }

body {
  margin: 80px 0; }

.game-container {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 15px;
  background: #7f8c8d;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .grid-container {
    position: absolute;
    z-index: 1; }
  .game-container .grid-row {
    margin-bottom: 15px; }
    .game-container .grid-row:last-child {
      margin-bottom: 0; }
    .game-container .grid-row:after {
      content: "";
      display: block;
      clear: both; }
  .game-container .grid-cell {
    width: 146.66667px;
    height: 146.66667px;
    margin-right: 15px;
    float: left;
    border-radius: 5px;
    background: #95a5a6; }
    .game-container .grid-cell:last-child {
      margin-right: 0; }
  .game-container .tile-container {
    position: absolute;
    z-index: 2; }
  .game-container .tile {
    position: absolute;
    z-index: 4; }
    .game-container .tile.tile-winner, .game-container .tile.tile-winner .tile-inner {
      background: #7ee2a8; }
    .game-container .tile, .game-container .tile .tile-inner {
      width: 147px;
      height: 147px;
      line-height: 156.66667px;
      border-radius: 5px;
      background: #ecf0f1;
      text-align: center;
      font-weight: bold;
      z-index: 10;
      font-size: 55px; }
    .game-container .tile.tile-position-1-1 {
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      transform: translate(0px, 0px); }
    .game-container .tile.tile-position-1-2 {
      -webkit-transform: translate(0px, 161px);
      -moz-transform: translate(0px, 161px);
      transform: translate(0px, 161px); }
    .game-container .tile.tile-position-1-3 {
      -webkit-transform: translate(0px, 323px);
      -moz-transform: translate(0px, 323px);
      transform: translate(0px, 323px); }
    .game-container .tile.tile-position-2-1 {
      -webkit-transform: translate(161px, 0px);
      -moz-transform: translate(161px, 0px);
      transform: translate(161px, 0px); }
    .game-container .tile.tile-position-2-2 {
      -webkit-transform: translate(161px, 161px);
      -moz-transform: translate(161px, 161px);
      transform: translate(161px, 161px); }
    .game-container .tile.tile-position-2-3 {
      -webkit-transform: translate(161px, 323px);
      -moz-transform: translate(161px, 323px);
      transform: translate(161px, 323px); }
    .game-container .tile.tile-position-3-1 {
      -webkit-transform: translate(323px, 0px);
      -moz-transform: translate(323px, 0px);
      transform: translate(323px, 0px); }
    .game-container .tile.tile-position-3-2 {
      -webkit-transform: translate(323px, 161px);
      -moz-transform: translate(323px, 161px);
      transform: translate(323px, 161px); }
    .game-container .tile.tile-position-3-3 {
      -webkit-transform: translate(323px, 323px);
      -moz-transform: translate(323px, 323px);
      transform: translate(323px, 323px); }
